<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Search Engine</h1>
        <form action="/search_results" method="get">
            <input type="text" name="query" placeholder="Enter search query" required>
            <div>
                <input type="radio" id="DESM" name="algorithm" value="DESM" checked>
                <label for="DESM">DESM</label>
                <input type="radio" id="BM25" name="algorithm" value="BM25">
                <label for="BM25">BM25</label>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
